<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0OGdPvUNDxaw68Ly9HJMdfpX86Pm7oz4</string>
	<key>GCM_SENDER_ID</key>
	<string>158504325848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalExam.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nomad-final-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>nomad-final-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158504325848:ios:a9843ed1c2097590183dad</string>
</dict>
</plist>